@model ERA.Web.Models.GreetingViewModel
@{
    ViewBag.Title = "Index";
}


<div>

    <div>
        <h2>
            @Model.DisplayHeaderMessage
        </h2>
    </div>



    <div>
        @Model.DisplayMessage
    </div>
</div>

